.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 25%;
  min-width: min-content;
  padding: 1rem;
  background-color: rgb(211,211,211);
}

.sidebar .sidebar-header {
  display: table;
  max-width: max-content;
  margin-bottom: 1rem;
}

.sidebar .sidebar-title {
  color: rgb(50,50,50);
  display: table-cell;
  padding-right: 0.5rem;
}

.sidebar .buttons {
  display: table-cell;
  vertical-align: middle;
}

.btn-new-room {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.room-container .room-list {
  list-style: none;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-left: 0;
  padding: 0;
}

.room-list a,
.room-list a:hover {
    color: rgb(100,100,100);
    cursor: pointer;
    text-decoration: none;
}

.chat-room-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 75%;
  min-width: min-content;
}

.chat-room-container .chat-room-title {
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.chat-room-container .messages-list {
}

.messages-list .odd {
  background-color: rgb(240,240,240);
  padding: 1rem;
}

.messages-list .even {
  padding: 1rem;
}

.username {
  font-weight: bold;
}

.timestamp {
  position: absolute;
  right: 1rem;
  font-style: italic;
}

.message {
}

.message-editor {
  position: fixed;
  bottom: 0;
  width: inherit;
  height: 3rem;
}

.message-editor .form-control {
  width: 90%;
  display: inline-block;
  height: inherit;
}

.message-editor .btn {
  width: 10%;
  display: inline-block;
  float: right;
  color: white;
  background-color: darkgray;
  height: inherit;
}
